$theme-color: #3385ff;
$fontColor:darkcyan;
$bgColor:rgb(255, 102, 0);
$errorcolor:#ed4014;
$primary:#2d8cf0;
$graybgcolor:#e5e5e5;
button{
    border: none;
    margin: 3px;
    padding: 5px 8px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}